<h1>Add dealership</h1>
<p>Add a dealership here: </p>

<form action="/dealerships" method="post">
  <label for="name">Dealership's Name</label>
  <input id="name" type="text" name="name" >
  <button type="submit" class="btn btn-primary">Add Dealership</button>
</form>
